@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,700,800&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 10px;
    background: #edeef0;

}

h1,
h3,
h4 {
    font-weight: 800;
}

h2 {
    font-weight: 500;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 1.8em;
}
.link-button {
    text-decoration: none;
    text-align: center;
    background: #f05136;
    cursor: pointer;
    font-weight: 100;
    letter-spacing: 0.5px;
    color: white;
    font-size: 1.8em;
    padding: 10px;
    border-radius: 20px;
    border-color: black;

}